
@media (max-width: 1199.98px) { }
@media (max-width: 991.98px) {  }

@media (max-width: 767.98px) {  }

@media (max-width: 575.98px) {

    .banner_overlay {
        padding-top: 190px;
        padding-bottom: 190px;
       
    }
    .banner_text h3 {
        font-size: 23px;
       
    }
    .banner_text h4 {
        font-size: 43px;
      
    }
    .banner_text p {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        color: #ffffff;
        line-height: 24px;
        padding-bottom: 53px;
    }

    .icon_text p {
        font-size: 14px;
       
        /* padding-left: 41px; */
        text-align: center;
    }

    .idea_text h3 {
        font-size: 21px;
       
    }

    .idea_text p {
        font-size: 12px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        color: #8c8c8c;
        line-height: 24px;
        padding-bottom: 43px;
    }
    .the_text h3 {
      
        font-size: 24px;
       
        text-align: center;
        line-height: 1.5;
    }
    .the_text p {
       
        font-size: 21px;
       
        text-align: center;
        line-height: 1.5;
    }
    .the_btn a {
      
        margin-top: 22px;
    }
    .project_text p {
      
        font-size: 13px;
        
       
    }
    .p_folio_btn button {
        padding: 4px 10px;
        background: #ffffff;
        font-weight: 300;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #8c8c8c;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        margin: 5px 5px;
    }

    #vedio {
        padding-top: 102px;
        padding-bottom: 127px;
       
    }
    .play_text p {
        font-size: 14px;
       
    }
    .device_text h3 {
        font-size: 28px;
      
        text-align: center;
    }
    .device_text p {
        font-size: 12px;
        text-align: center;
    }
    .right_icon {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .right_icon i {
        margin-right: 0px;
     
    }
    .right_icon h4 {
       
        line-height: 1.5;
    }
    .count_main{
        padding-top: 60px;
    }
    .royal_img{
        text-align: center;
        padding-top: 50px;
    }
    .futer_last{
        padding-left: 7px;
        padding-top: 10px;
    }
 }

